%h1.mb-4.text-3xl.font-extrabold.tracking-tight.leading-none.text-black.xl:text-3xl 
  Email Verification
.p-6.max-w-screen-md.bg-white.rounded-lg.border.border-gray-200.shadow
  %p.text-slate-500{:class => "text-[15px]"} Enter the 5-digit verification code that was sent to your email.
  = form_with url: account_email_verification_path(account), method: :patch, data: { controller: 'verification', 'verification-target': 'form' } do |f|
    = f.hidden_field :object, value: 'code'
    .flex.items-center.justify-center.gap-3.mt-3
      = f.text_field :num1, class: 'w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100', data: { 'verification-target': 'input', value: 1, action: 'input->verification#move'}, maxlength: 1
      = f.text_field :num2, class: 'w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100', data: { 'verification-target': 'input', value: 2, action: 'input->verification#move'}, maxlength: 1
      = f.text_field :num3, class: 'w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100', data: { 'verification-target': 'input', value: 3, action: 'input->verification#move'}, maxlength: 1
      = f.text_field :num4, class: 'w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100', data: { 'verification-target': 'input', value: 4, action: 'input->verification#move'}, maxlength: 1
      = f.text_field :num5, class: 'w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100', data: { 'verification-target': 'input', action: 'input->verification#move', value: 5, action: 'input->verification#move'}, maxlength: 1
    .mx-auto.mt-4{:class => "max-w-[260px]"}
      = f.submit 'Verify Email', class: 'button', data: { 'verification-target': 'submit'}
  .text-sm.text-slate-500.mt-4
    Didn't receive code?
    %a.font-medium.text-indigo-500.hover:text-indigo-600{:href => "#0"} Resend
