= form_with model: Company.new, url: account_company_path(account), class: 'space-y-4.max-w-md.md:space-y-6.xl:max-w-xl' do |f|
  %h1.mb-4.text-3xl.font-extrabold.tracking-tight.leading-none.text-black.xl:text-3xl 
    Basic Company Information
  .grid.grid-cols-1.gap-3{ data: { controller: 'countries'}}
    %div
      = f.label :name, 'Company name', class: 'input-label'
      = f.text_field :name, class: 'input-box', placeholder: 'Company name'
    %div
      = f.label :contact_number, 'Main contact number', class: 'input-label'
      = f.text_field :contact_number, class: 'input-box', placeholder: 'Contact Number'
      %small.font-semibold
        Please note this phone number will be used for validation
    .grid.grid-cols-2.gap-3
      %div
        = f.label :country, 'Country', class: 'input-label'
        = f.select :country, set_countries, { prompt: 'Select a country'}, { class: 'input-box', data: { countries_target: 'countrySelect', action: 'change->countries#change'} }
      %div
        = f.label :postal_code, 'Postal code', class: 'input-label'
        = f.text_field :postal_code, class: 'input-box', placeholder: 'Zip Code / Postal Code'
    .grid.grid-cols-2.gap-3
      %div
        = f.label :state, 'State/Province', class: 'input-label'
        = f.select :state,  [], {}, { class: 'input-box', data: { countries_target: 'stateSelect', action: 'change->countries#cityChange' } }
      %div
        = f.label :city, 'City', class: 'input-label'
        = f.select :city,  [], {}, { class: 'input-box' , data: { countries_target: 'citySelect'} }
    %div
      = f.label :address1, 'Address', class: 'input-label'
      = f.text_field :address1, class: 'input-box', placeholder: 'Address'
  .mt-3
    = f.submit nil, class: 'button'

